.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: white; /* Set text color to white */
}

.quote-container {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.quote-text {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

.quote-author {
  font-size: 1.5rem;
  margin-top: 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
